@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

#root {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
}

.modes {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.modes .modesButtons {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 130px;
}

.modes .modesButtons .radiobutton:nth-child(n) {
    margin: 0 0 auto;
}

.calculator {
    flex-grow: 2;
    min-width: 150px;
    max-height: 540px;
    max-width: 320px;
    width: 100%;
}

.footer {
    align-items: flex-end;
    display: flex;
    flex-grow: 1;
    min-height: 50px;
    width: 100%;
}

.footer a {
    cursor: pointer;
    display: inline-flex;
    margin: 10px 0px 0px 10px;
}

.footer .links {
    margin-right: auto;
}