@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    align-items: flex-end;
}

.footer a {
    cursor: pointer;
    display: inline-flex;
    margin: 10px 0px 0px 10px;
}

.footer .links {
    margin-right: auto;
}